.menu-container {
    --side-max-width: 272px;
}
.menu-items-list > ion-item{
    --min-height: 3.8rem;
}

.wrapper {
    overflow-y: scroll;
    max-width: 1110px;
    margin: 0 auto;
    .profile-info-container{
        margin-top: 4.2rem;
        display: flex;
        .profile-img-container{
            position: relative;
            min-width: 214px;
            max-height: 198px;
            img{
                width: 100%;
                height: 100%;
            }
            .profile-picture-input{
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
        .profile-info{
            padding-left: 2rem;
            .profile-header{
                max-width: 584px;
                display: flex;
                justify-content: space-between;
                & > ion-label{
                    font-size: 26px;
                }
                & > ion-button{
                    max-height: 40px;
                    min-width: 144px;
                }
            }
            .profile-about{
                h1{
                    margin-top: 0;
                    margin-bottom: 2px;
                }
                p{
                    margin-top: 0;
                }
                a{
                    text-decoration: none;
                    color: var(--ion-color-dark);
                }
            }
        }
    }
}

.create-project-button{
    margin-top: 2.5rem;
}
.project-info{
    cursor: pointer;
}

.create-project-modal-content{
    overflow-y: scroll;
    padding: 1.25rem;
    padding-top: 0.5rem;
}

.criteria-tags-container{
    overflow: visible;
}
